.tituloGaleria {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: #4b6577;
  margin: 50px 0 50px 0;
}

.botao {
background-color: #6B4950;
border: none;
color: white;
width: 15%;
height: 40px;

border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

font-size: 16px;
}

@media screen and (max-width : 765px) {
    .botao{
        font-size: 14px;
    }
}

.formulario {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: end;
  width: 100%;
}

.campoNome{
    width: 40%;
}


.inputNome,
.arquivoLabel {
    background-color: white;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    outline: none;
    padding: 0 7px 0 7px;

}

.CampoNome label {
    color: #8C5B65;
}

@media screen and (max-width: 765px) {
    .formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}


.arquivoLabel {
  display: block;
  cursor: pointer;
  border-radius: 6px;
  align-content: center;

}

.arquivoInput {
  display: none; 
}

.campoCards{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px
}